<!-- Section -->
<section class="section">

  <!-- Container -->
  <div class="container">

      {% include '_includes/breadcrumbs' %}

      <!-- Index -->
      <div class="index">

        {# Create asset query. #}
        {% set image = entry.guidesImage.one() %}

        {# Fetch asset. #}
        <img class="index__image" src="{{ image.url() }}" alt="{{ image.title }}">
        <div class="index__body text">
          <h1 class="index__title h3">{{ entry.title }}</h1>
          <p class="index__description">{{ entry.guidesDescription }}</p>
        </div>
      </div>

      <!-- Row -->
      <div class="row">

        {# Create entry query to fetch all second level descendant entries. #}
        {% set entries = craft.entries.descendantOf(entry.id).descendantDist(1) %}

        {# Fetch all entries. #}
        {% for entry in entries.all() %}
          <div class="card">
            <div class="card__body text">
              <h2 class="h6">{{ entry.title }}</h2>
              <p>{{ entry.seoDescription }}</p>
              <a href="{{ entry.url }}" title="{{ entry.title }}">Read</a>
            </div>
          </div>
        {% endfor %}
      </div>
  </div>
</section>