{# Extend default template. #}
{% extends '_extends/default' %}

{# Assign values to entry's meta variables. #}
{% set title = entry.seoTitle %}
{% set description = entry.seoDescription %}

{# Start block. #}
{% block page %}

  <!-- Section -->
  <section class="section">

    <!-- Container -->
    <div class="container">

      {# Create topics query. #}
      {% set topics = craft.categories.group('topics') %}

      <!-- Title -->
      <h2 class="title">{{ topics.one.group }}</h2>

      <!-- Row -->
      <div class="row">

        {#
        # Fetch all topics in a navigation structure;
        # https://craftcms.com/knowledge-base/displaying-a-navigation-for-a-structure-section.
        #}
        {% nav topic in topics.all() %}

          <!-- Topic -->
          <a href="{{ topic.url }}" class="topic card card--link">

            {# Create asset query. #}
            {% set image = topic.topicsImage.one() %}

            {# Fetch asset. #}
            <img class="topic__image" src="{{ image.url() }}" alt="{{ image.title }}">
            <h3 class="topic__title h3">{{ topic.title }}</h3>
            <p class="topic__description">{{ topic.topicsDescription }}</p>
          </a>
        {% endnav %}
      </div>
    </div>
  </section>

  <!-- Section -->
  <section class="section">

    <!-- Container -->
    <div class="container">

      <!-- Title -->
      <h2 class="title">Articles</h3>

      {# Create articles query. #}
      {% set articles = craft.entries.section('articles').all() %}

      {# Fetch articles. #}
      {% for article in articles %}
        <article class="article">
          <h1>{{ article.title }}</h1>
          {% for block in article.articlesBody.all() %}
            {% if block.type == 'text' %}
              {{ block.text|parsedown }}
            {% endif %}
          {% endfor %}
        </article>
      {% endfor %}

    </div>
  </section>

{% endblock page %}