{%- minify -%}
<!DOCTYPE html>
<html lang="{{ craft.app.locale }}">
  {%- cache -%}
    <head>
      <meta charset="utf-8">
      <title>{{ title }}</title>
      <meta name="description" content="{{ description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ rev('css/screen.css') }}">
      <script type="text/javascript" src="{{ rev('js/screen.js') }}"></script>
    </head>
  {%- endcache -%}
  <body class="app">
    <main class="scaffold">
      {% block page %}
      {% endblock page %}
    </main>
  </body>
</html>
{%- endminify -%}
